---
import Navbar from "@components/Navbar.astro";
import DefaultLayout from "@layouts/Default.astro";
---
<DefaultLayout title="404 - Not Found" description="Not Found">
  <div class="my-8">
    <Navbar />

    <div class="mt-8">
      <h1 class="font-normal text-5xl lg:text-6xl">
        <span>404</span>
      </h1>

      <div
        class="my-32 text-gray-300 dark:text-gray-700 text-6xl font-light italic"
      >
        This page could not be found
      </div>
    </div>
  </div>
</DefaultLayout>
