---
import { Image } from "@astrojs/image/components";
const imageUrl =
  "//s.gravatar.com/avatar/8bf98d1d6ea81a5e467b030a5a0b4798.jpg?s=192";
---

<a href="/">
  <div class="space-x-4 flex flex-row items-center">
    <Image
      src={imageUrl}
      alt="Luke Fisher"
      width={192}
      aspectRatio={1}
      format="jpg"
      class="rounded-full w-16 border-4 border-gray-800 dark:border-gray-200"
    />
    <h1 class="text-4xl font-semibold">Luke Fisher</h1>
  </div>
</a>
